<nav class="navbar navbar_container navbar-fixed-top ">
    <div class="container-fluid">

        <div class=" navbar-text pull-left wbdv-mar-left-0 ">
            <a ng-click="model.navigateBack()">
                <span class="glyphicon glyphicon-chevron-left wbdv-text-clr-white"></span>
            </a>
        </div>

        <div class="navbar-header navbar-link pull-left wbdv-mar-left-0">
            <span class="navbar-brand wbdv-text-clr-white " style="font-size: 20px; font-weight: bold;"> {{model.restaurantName}} </span>
        </div>


        <div class="navbar-text navbar-link pull-right visible-xs">
            <a ng-click="model.checkOut()">
                <span class="glyphicon glyphicon-shopping-cart wbdv-text-clr-white" title="Proceed to payment"></span>
            </a>
        </div>

        <div class="navbar-text navbar-link pull-right hidden-xs">
            <a ng-click="model.checkOut()">
                <span class=" wbdv-text-clr-white" title="checkOut">Proceed to Payment</span>
            </a>
        </div>

    </div>
    </div>
</nav>




<div class="container pageBackground wbdv-mar-bottom-60" style="background-color:lightslategray;">


    <div class="blackContainer">
        <div class="alert alert-danger" style="color: gold; background-color: black" ng-show="model.error">
            {{model.error}}
        </div>


        <div class="contentContainer">


            <!--<div class="row" style="margin-bottom: 10px; text-align: center">-->
                <!--<div style="display: inline-block; text-align: left">-->
                    <!--<div class="col-xs-12 col-sm-4">-->
                        <!--<img class="wbdv-menu-logo" ng-src="{{model.logoUrl}}">-->

                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                        <!--<div >{{model.name}}</div>-->
                        <!--<br/>-->

                        <!--<div>{{model.address}}</div>-->
                    <!--</div>-->
                <!--</div>-->



            <!--</div>-->

            <div ng-repeat="mn in model.menu">

                <div  class="row wbdv-pad-left-15 wbdv-mar-top-5" style="background-color: chocolate;height: auto; ">
                    <div  data-toggle="collapse" data-target="#{{mn.apiKey}}" class="wbdv-text-clr-white" style="font-size: x-large;font-weight: bold; color: whitesmoke">{{mn.name}}</div>
                    <!--<div  data-toggle="collapse" data-target="#{{mn.apiKey}}" style="color: yellow;">-->
                    <!--<span style="padding-bottom: 3px;">{{mn.description}}</span>-->
                    <!--</div>-->
                </div>

                <div id={{mn.apiKey}}  class="row wbdv-mar-top-3 collapse">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in mn.items " style="background-color: black; color:black;">
                            <div class="row" style="height: auto">

                                <div class="col-xs-12 col-sm-12" data-toggle="collapse" data-target="#{{ item.apiKey}}" pull-left>
                                    <div class="row wbdv-text-clr-white">
                                        <div class="col-xs-8 col-sm-6 pull-left">
                                            {{item.name}}
                                        </div>
                                        <div class="col-xs-4 col-sm-6 pull-right" style="width: 50px; text-align: justify; margin-right: 5px;">
                                            {{item.basePrice}}
                                        </div>
                                    </div>
                                </div>

                                <div  id ="{{item.apiKey}}" class="collapse row container" style="margin-top:10px; margin-left: 5px; margin-right:5px;">
                                    <div class="col-xs-6 col-sm-4 pull-right">
                                        <div class="col-xs-2 col-sm-1 pull-left" style="width: 30px;" >
                                            <a ng-click="model.increaseItemCount(item.apiKey, item.name, item.basePrice)">
                                                <span   class="glyphicon glyphicon-plus-sign wbdv-text-clr-white pull-left" style=" font-size: 20px;padding: 0px; margin:0px;"></span>
                                            </a>
                                        </div>

                                        <div  id = "{{'count-'+item.apiKey}}"  style="width: 30px;" class="col-xs-2 col-sm-2 wbdv-text-clr-white pull-right">

                                        </div>


                                        <div class="col-xs-2 col-sm-1 pull-right" style="width: 30px;">
                                            <a ng-click="model.decreaseItemCount(item.apiKey, item.name, item.basePrice)">
                                                <span   class="glyphicon glyphicon-minus-sign pull-right wbdv-text-clr-white " style="margin:0px;padding: 0px; font-size: 20px;"></span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>
























<div ng-if="model.partner">

    <div class="container pageBackground wbdv-mar-bottom-60" style="background-color:lightslategray;">

        <div class="blackContainer">
            <div class="alert alert-danger" style="color: gold; background-color: black" ng-show="model.error">
                {{model.error}}
            </div>


            <div class="contentContainer">


                <!--<div class="row" style="margin-bottom: 10px; text-align: center">-->
                    <!--<div style="display: inline-block; text-align: left">-->
                        <!--<div class="col-xs-12 col-sm-4">-->
                            <!--<img class="wbdv-menu-logo" ng-src="{{model.logoUrl}}">-->

                        <!--</div>-->
                        <!--<div class="col-xs-12">-->
                            <!--<div >{{model.name}}</div>-->
                            <!--<br/>-->

                            <!--<div>{{model.address}}</div>-->
                        <!--</div>-->
                    <!--</div>-->



                <!--</div>-->

                <div ng-repeat="category in model.result">

                    <div  class="row wbdv-pad-left-15 wbdv-mar-top-5" style="background-color: chocolate;height: auto; ">
                        <div  data-toggle="collapse" data-target="#{{category.group}}" class="wbdv-text-clr-white" style="font-size: x-large;font-weight: bold; color: whitesmoke">{{category.group}}</div>
                        <!--<div  data-toggle="collapse" data-target="#{{mn.apiKey}}" style="color: yellow;">-->
                        <!--<span style="padding-bottom: 3px;">{{mn.description}}</span>-->
                        <!--</div>-->
                    </div>

                    <div id={{category.group}} class="row wbdv-mar-top-3 collapse">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="entries in category.entry" style="background-color: black; color:black;">
                                <div class="row" style="height: auto">

                                    <div class="col-xs-12 col-sm-12" data-toggle="collapse" data-target="#{{entries[2]}}" pull-left>
                                        <div class="row wbdv-text-clr-white">
                                            <div class="col-xs-8 col-sm-6 pull-left">
                                                {{entries[0]}}
                                            </div>
                                            <div class="col-xs-4 col-sm-6 pull-right" style="width: 50px; text-align: justify; margin-right: 5px;">
                                                {{entries[1]}}
                                            </div>
                                        </div>
                                    </div>

                                    <div  id ="{{entries[2]}}" class="collapse row container" style="margin-top:10px; margin-left: 5px; margin-right:5px;">
                                        <div class="col-xs-6 col-sm-4 pull-right">
                                            <div class="col-xs-2 col-sm-1 pull-left" style="width: 30px;" >
                                                <a ng-click="model.increaseItemCount(entries[2],entries[0], entries[1])">
                                                    <span   class="glyphicon glyphicon-plus-sign wbdv-text-clr-white pull-left" style=" font-size: 20px;padding: 0px; margin:0px;"></span>
                                                </a>
                                            </div>

                                            <div  id = "{{'count-'+ entries[2]}}"  style="width: 30px;" class="col-xs-2 col-sm-2 wbdv-text-clr-white pull-right">

                                            </div>


                                            <div class="col-xs-2 col-sm-1 pull-right" style="width: 30px;">
                                                <a ng-click="model.decreaseItemCount(entries[2],entries[0], entries[1])">
                                                    <span   class="glyphicon glyphicon-minus-sign pull-right wbdv-text-clr-white " style="margin:0px;padding: 0px; font-size: 20px;"></span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>






</div>




<nav class="navbar  navbar-fixed-bottom bg-primary" >
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12" >
                <a href="#/user/profile" class="wbdv-mar-right-5 pull-right">
                        <span class="glyphicon glyphicon-user wbdv-text-clr-white navbar-text">
                        </span>
                </a>

            </div>


        </div>
    </div>
</nav>