<nav class="navbar  navbar-fixed-top bg-primary">
    <div class="container-fluid" >
        <div  class="navbar-text navbar-link pull-left">
            <a href="#/owner/123/restaurant/123/order">
                <span class="glyphicon glyphicon-chevron-left wbdv-text-clr-white" title="Back"></span>
            </a>
        </div>
        <div class="navbar-header navbar-link pull-left wbdv-mar-left-0">
            <span class="navbar-brand wbdv-text-clr-white " style="font-size: 20px; font-weight: bold;">Registered Delivery Personnals</span>
        </div>
        <div  class="navbar-text navbar-link pull-right hidden-xs">
            <a href="#/owner/123/restaurant/123/db/new">
                <span class="wbdv-text-clr-white" title="Add New Delivery Personnal">Add New Delivery Personnal</span>
            </a>
        </div>
        <div  class="navbar-text navbar-link pull-right visible-xs">
            <a href="#/owner/123/restaurant/123/db/new">
                <span class="glyphicon glyphicon-plus wbdv-text-clr-white" title="Add New Delivery Personnal"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container wbdv-pad-left-right wbdv-mar-top-50">

    <ul id="ownerRestaurantsRegistered" class="list-group">
        <li class="list-group-item"  style="color: black; background-color: lightslategray">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    Delivery Boys
                </div>

            </div>
        </li>
        <li class="list-group-item" style="background-color: white">
            <div class="row">

                    <div class="col-xs-8 pull-left">
                        <span>Del 1</span>
                    </div>


                <div class="col-xs-4 pull-right">

                    <a href="#/owner/123/restaurant/123/db/1">
                       <span class="glyphicon glyphicon-cog pull-right" title="Edit"></span>
                    </a>

                </div>
            </div>
        </li>

        <li class="list-group-item" style="background-color: white">
            <div class="row">

                <div class="col-xs-8 pull-left">
                    <span>Del 2</span>
                </div>


                <div class="col-xs-4 pull-right">

                    <a href="#/owner/123/restaurant/123/db/1">
                        <span class="glyphicon glyphicon-cog pull-right" title="Edit"></span>
                    </a>

                </div>
            </div>
        </li>

        <li class="list-group-item" style="background-color: white">
            <div class="row">

                <div class="col-xs-8 pull-left">
                    <span>Del 3</span>
                </div>


                <div class="col-xs-4 pull-right">

                    <a href="#/owner/123/restaurant/123/db/1">
                        <span class="glyphicon glyphicon-cog pull-right" title="Edit"></span>
                    </a>

                </div>
            </div>
        </li>

    </ul>
</div>



<nav class="navbar  navbar-fixed-bottom bg-primary" >
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12" >
                <a href="#/owner/123" class="wbdv-mar-right-5 pull-right">
                        <span class="glyphicon glyphicon-user wbdv-text-clr-white navbar-text">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>