<nav class="navbar  navbar-fixed-top bg-primary">
    <div class="container-fluid" >

        <div  class="navbar-text navbar-link pull-left">
            <a href="#/owner/123/restaurant/123/db">
                <span class="glyphicon glyphicon-chevron-left wbdv-text-clr-white" title="Back"></span>
            </a>
        </div>

        <div class="navbar-header navbar-link pull-left wbdv-mar-left-0">
            <span class="navbar-brand wbdv-text-clr-white " style="font-size: 20px; font-weight: bold;">Delivery Boy Register</span>
        </div>

    </div>
</nav>


<div class="container  wbdv-text-clr-white">


    <div ng-show="model.message" class="alert alert-success" role="alert" >
        {{model.message}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="container  wbdv-mar-top-25">
        <div class="row">
            <form name="profilePage">

                <div class="row wbdv-pad-left-right">
                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="username">Username</label>
                        <input ng-model="model.user.username"
                               ng-disabled="model.user.username"
                               type="text" class="form-control"
                               id="username"
                               value="aashishsingh"
                               placeholder="Username"/>
                    </div>

                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="firstName" class="wbdv-req-field">First Name:</label>
                        <input ng-model="model.user.firstName"
                               type="text" class="form-control"
                               id="firstName"
                               name="firstName"
                               value="Aashish Vikram"
                               placeholder="First Name"
                               required/>
                    </div>

                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="lastName"  class="wbdv-req-field">Last Name:</label>
                        <input ng-model="model.user.lastName"
                               type="text" class="form-control"
                               id="lastName"
                               name="lastName"
                               value="Singh"
                               placeholder="Last Name"
                               required/>
                    </div>

                </div>

                <div class="row wbdv-pad-left-right">
                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="password"  class="wbdv-req-field">Password:</label>
                        <input ng-model="model.user.password"
                               type="password" class="form-control"
                               id="password"
                               name="password"
                               value="Singh"
                               placeholder="Password"
                               required/>
                    </div>

                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="password2"  class="wbdv-req-field">Verify Password:</label>
                        <input ng-model="model.user.password"
                               type="password" class="form-control"
                               id="password2"
                               name="password2"
                               value="Singh"
                               placeholder="Verify Password"
                               required/>
                    </div>
                </div>
                <div class="row wbdv-pad-left-right">

                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="email"  class="wbdv-req-field">Email address:</label>
                        <input ng-model="model.user.email"
                               type="email" class="form-control"
                               id="email"
                               value="singh.aa@husky.neu.edu"
                               placeholder="Email Id"/>
                    </div>



                    <div class="form-group col-sm-4 col-xs-12">
                        <label for="phone"  class="wbdv-req-field">Phone:</label>
                        <input ng-model="model.user.phone"
                               type="text" class="form-control"
                               id="phone"
                               name="phone"
                               placeholder="Phone"
                               required/>
                    </div>

                </div>



                <div class="row wbdv-pad-left-right">
                    <div class="col-sm-4 col-xs-12 ">
                        <div class="form-group ">
                            <label for="address"  class="wbdv-req-field">Address:</label>
                            <input ng-model="model.user.address"
                                   ng-change="model.loadAddressFromAPI()"
                                      class="form-control"
                                      type="text"
                                      list="addressList"
                                      id="address"
                                      name="address"
                                      ng-blur="model.populateCityAndStateIfDlSel()"
                                      placeholder="Address" required>
                                      <datalist id="addressList">
                                            <option ng-repeat="adr in model.addressFromAPI" value="{{adr.text}}">
                                      </datalist>
                        </div>
                    </div>








                    <div class="form-group col-sm-3 col-xs-12">
                        <label for="city"  class="wbdv-req-field">City:</label>
                        <input id="city"
                               name="city"
                               type="text"
                               class="form-control"
                               placeholder="City"
                               ng-model="model.user.city"

                               required/>
                    </div>

                    <div class="form-group col-sm-4 col-xs-12 ">
                        <select id="state"
                                class="form-control"
                                ng-model="model.user.state"
                                ng-init="model.user.state = model.user.state || model.states[0]"
                                ng-options="option for option in model.states">

                        </select>

                    </div>


                    <div class="form-group col-sm-2 col-xs-12">
                        <label for="pin"  class="wbdv-req-field">PIN:</label>
                        <input ng-model="model.user.pin"
                               type="text" class="form-control"
                               id="pin"
                               name="pin"
                               placeholder="PIN"
                               required/>
                    </div>

                    <div class="form-group col-sm-3 col-xs-12">
                        <label for="country"  class="wbdv-req-field">Country:</label>
                        <select ng-model="model.user.country"
                                id="country"
                                name="country"
                                class="form-control">
                            <option value="1" selected="selected">United States</option>

                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row wbdv-mar-bottom-60 wbdv-pad-left-right">
            <div class="col-sm-6 col-xs-12">
                <a href="#/owner/123/restaurant/123/db" class="btn btn-success btn-block form-control">Register</a>
            </div>
            <div class="col-sm-6 col-xs-12">
                <a href="#/owner/123/restaurant/123/db" class="btn btn-danger  btn-block">Remove</a>
            </div>
        </div>
    </div>
</div>




<nav class="navbar  navbar-fixed-bottom bg-primary" >
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12" >
                <a href="#/owner/123" class="wbdv-mar-right-5 pull-right">
                        <span class="glyphicon glyphicon-user wbdv-text-clr-white navbar-text">
                        </span>
                </a>

            </div>


        </div>
    </div>
</nav>








